body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}



header {
  background-color: gray;
}


.heading{
  height: 150px;
  width: 960px;
  background-color: #C0C0C0;
  margin: 0 auto;
}

.nav-bar{
  height: 150px;
  width: 960px;
  background-color: white;
  margin: 0 auto;
}

.contents{
  width: 960px;
  background-color: #C0C0C0;
  margin: 0 auto;
}

.main-contents{
  height: 700px;
  width: 760px;
  background-color: white;
  float: left;
}

.side-contents{
  height: 700px;
  width: 200px;
  background-color: #f9f9f9;
  float: left;
}

footer {
  background-color: #C0C0C0;
  height:50px;
  text-align: center;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.logo-link {
  font-family: monospace;
  font-size: 32px;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
}

ul li {
  margin: 0;
  float: left;
  padding-right: 10px;
  text-align: center;
}